@{
    ViewData["Title"] = "Joel Hilton Film Collection";
}

<h1>Movies</h1>

<div>
    <p>Here is some information about the movies</p>
</div>


<img src="~/img/JHilton.jpg" height="400"/>

<div>
    <!--list of links to other pages-->
    <a asp-controller="Home" asp-action="Movies">Fill out Movie Form</a>
    <a href="https://baconsale.com/">My Podcasts</a>

</div>